<section>

    <div class="home-section">

        <h4 class="container-heading">About</h4>



        <p>The CXP Application Programming Interface (API) follows, RESTful, Hypermedia API standards to facilitate the distribution of digital content (audio, video, images and text) from multiple USG Foreign Affairs agencies to audiences worldwide.</p>

        <p>The CXP is a joint project of the U.S. Government's Broadcasting Board of Governors (BBG), Department of State (DOS) and Department of Defense (DOD). U.S. Federal content and data available through the CXP is offered free and without restriction. Content and data created by government employees within the scope of their employment are not subject to domestic copyright protection under 17 U.S.C. § 105. Non-federal content and data that may be made available through the CXP may have a different licensing method, please view our content policy or contact us for more information.</p>

        <p>Users who register with the CXP through our sign up form will be provided an API key from data.gov. CXP.bbg.gov does not collect personal information when you visit our website unless you choose to provide that information. Please refer to our privacy policy and the privacy policy found at <a href="https://www.data.gov/privacy-policy">https://www.data.gov/privacy-policy</a> for more detailed information. </p>

        <p>If you have already registered for an API key through data.gov, you may use that key to access the CXP API. New users of the CXP will initially be granted limited access to content and data from the CXP. To be granted access to all avaialble content and data from the CXP, please contact us to have your API key role upgraded.</p>

        <p>Please read the documentation, query the API Explorer and visit our demo to learn more about working with the CXP API.
            For the most up to date information or for logging bugs, making feature requests or other improvements to the CXP API, please contact us on <a href="https://wwww.githubs.com/bbginnovate">Github</a> or on <a href="https://twitter.com/bbginnovate">Twitter</a>.</p>

    </div>


    <ul class="side-nav fixed" id="nav-mobile">
        <li class="logo">
            <a href="http://oddi.bbg.gov">
                <img class="oddi-logo" height="45" src="img/oddi-logo.png" />
            </a>
        </li>
        <li>
            <a href="#/data-policy">
                Data Policy
            </a>
        </li>
        <li>
            <a href="#/privacy-policy">
                Privacy Policy
            </a>
        </li>
        <li class="active">
            <a href="#/about">
                About
            </a>
        </li>
    </ul>

</section>