<section>

    <div class="home-section">

        <h4 class="container-heading">About</h4>



    </div>


    <ul class="side-nav fixed" id="nav-mobile">
        <li class="logo">
            <a href="http://oddi.bbg.gov">
                <img class="oddi-logo" height="45" src="img/oddi-logo.png" />
            </a>
        </li>
        <li>
            <a target="_blank" href="http://www.data.gov/data-policy">
                Data Policy
            </a>
        </li>
        <li>
            <a target="_blank" href="http://www.data.gov/privacy-policy">
                Privacy Policy
            </a>
        </li>
        <li class="active">
            <a href="#/about">
                About
            </a>
        </li>
    </ul>

</section>