<section>
    <div class="home-section">
        <h4 class="container-heading">JSON Output</h4>

        <loading-animation></loading-animation>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" ng-model="apiKey" id="api-key" ng-class="badApiKey ? 'alert-api-key-input' : ''">
                <label for="api-key" ng-hide="badApiKey">API Key</label>
                <label for="api-key" ng-show="badApiKey" class="alert-api-key">Invalid API Key</label>
            </div>
            <div class="input-field col s2">
                <input type="text" number-mask="" min="0" max="99" ng-model="pageFilter" id="page-filter">
                <label for="page-filter">Page</label>
            </div>
            <div class="input-field col s2">
                <input type="text" number-mask="" min="0" max="99" ng-model="limitFilter" id="limit-filter">
                <label for="limit-filter">Limit</label>
            </div>

            <div class="input-field col s2">
                <input type="checkbox" ng-model="detailsFilter" ng-true-value="1" ng-false-value="0" id="detailsFilter" />
                <label for="detailsFilter">Details</label>
            </div>
        </div>

        <p ng-if="countries.length > 0" blahdir></p>
        <div class="query-string-div">
            <p class="query-string-holder">
                <span>{{ searchQueryString }}</span>
                <!--
                <span style="margin-left: -3px">{{ queryStringNew }}</span>
                -->
                <span class="query-string" ng-if="customQueryFields.length > 0">?q={{ customQueryFields | toStringArray }}</span>
                <span class="query-string" ng-if="countries.length > 0">&country={{ countries | toStringArray }}</span>
                <span class="query-string" ng-if="languages.length > 0">&language={{ languages | toStringArray }}</span>
                <span class="query-string" ng-if="networks.length > 0">&network={{ networks | toStringArray }}</span>
                <span class="query-string" ng-if="organizations.length > 0">&organization={{ organizations | toStringArray }}</span>
                <span class="query-string" ng-if="pageFilter.length > 0">&page={{ pageFilter }}</span>
                <span class="query-string" ng-if="limitFilter.length > 0">&limit={{ limitFilter }}</span>
                <span class="query-string" ng-if="detailsFilter == 1">&details={{ detailsFilter }}</span>

            </p>
            <a class="waves-effect waves-light btn submit-api-call" ng-click="submit()">Submit</a>
        </div>

        <div class="result" ng-style="{opacity: isLoading && '.3' || '1'}">
            <div class="col-xs-12">
                <json-formatter json="textareaJson" open="10"></json-formatter>
            </div>
        </div>

    </div>

    <ul class="side-nav fixed" id="nav-mobile" style="height: 700px; overflow: scroll">
        <li class="logo">
            <a href="http://oddi.bbg.gov">
                <img class="oddi-logo" height="45" src="img/oddi-logo.png" />
            </a>
        </li>
        <span class="side-nav-list-heading">Endpoints</span>
        <li ng-repeat="filter in initialFilters" class="bold">
            <a ng-click="selectFilter( filter.name )" href=""><span class="new badge" style="margin-top: 10px"></span> /{{ filter.name }}</a>
        </li>

        <span ng-show="searchFields" class="side-nav-list-heading">Fields</span>
        <li ng-repeat="field in fields" class="bold">
            <p>
                <!--  <input type="checkbox" id="test-{{$index}}" checked="checked" ng-click="uncheckField(field)"/> -->
                <i class="mdi-action-highlight-remove" ng-click="uncheckField(field)"></i>
                <label class="field-name">{{ field.name }} <span class="badge badge-name"><span>{{ field.filter }}</span></span></label>
            </p>
        </li>

        <li ng-show="searchFields" style="background: none repeat scroll 0 0 white; height: 400px; overflow: auto; font-size: 12px">
            <input type="text" id="typeahead-filters" ng-model="selected" placeholder="Type a field" typeahead-min-length="2" typeahead="filter for filter in initialFilterData | filter:$viewValue | limitTo:7" typeahead-editable="false">
            <a id="add-field" ng-click="addField()" class="waves-effect waves-light btn">+ Add Field</a>
        </li>

    </ul>

</section>