<section>

    <div class="home-section">

        <h4 class="container-heading">API Key Signup</h4>

        <div id="apidatagov_signup">Loading signup form...</div>

    </div>


    <ul class="side-nav fixed" id="nav-mobile">
        <li class="logo">
            <a href="http://oddi.bbg.gov">
                <img class="oddi-logo" height="45" src="img/oddi-logo.png" />
            </a>
        </li>
    </ul>

</section>


<script type="text/javascript-lazy">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var apiUmbrellaSignupOptions = {
        // Pick a short, unique name to identify your site, like 'gsa-auctions'
        // in this example.
        registrationSource: 'bbg',

        // Enter the API key you signed up for and specially configured for this
        // API key signup embed form.
        apiKey: 'iU1xezkc8DtwUBGgHzgn4sjwxrdE0OiEifLsVy7v',

        // Provide an example URL you want to show to users after they signup.
        // This can be any API endpoint on your server, and you can use the
        // special {{api_key}} variable to automatically substitute in the API
        // key the user just signed up for.
        exampleApiUrl: 'https://cxp.bbg.gov/api/contents?api_key={{api_key}}&limit=25'
    };

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var apiUmbrella = document.createElement('script');
        apiUmbrella.type = 'text/javascript';
        apiUmbrella.async = true;
        apiUmbrella.src = 'https://api.data.gov/static/javascripts/signup_embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(apiUmbrella);
    })();
</script>

